<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
  <h3>हामी छौं</h3>
    <ul>
        <li> <a href="\">HOME</a> </li>
        <li> <a href="">BLOG</a> </li>
        <li> GET HELP
          <ul>
            <li> <a href="yog-guru">YOG GURU</a> </li>
            <li> <a href="psychologist">PSYCHOLOGIST</a> </li>
            <li> <a href="psychiatrist">PSYCHIATRIST</a> </li>
          </ul>
        </li>
        <li> <a href="profile">PROFILE</a> </li>
      </ul>
    
</body>
</html>